<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script
      src="https://kit.fontawesome.com/abd67d4b78.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="edit-body">
      <div class="main-body">
        <div class="edit-input-portion">
            <div class="edit-heading">Stock Trigger Editor</div>
            <form action="/triggers/<%- id %>?_method=PUT" method="POST">
              <div class="form-body">
                <div class="name-input">
                  <div class="label"><label for="name">Name</label></div>
                  <!-- <input type="text" id="name" name="name" value="<%- name %>" /> -->
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Name"
                    name="name"
                    autocomplete="off"
                    value="<%- name %>"
                  />
                </div>
                <div class="type-input">
                  <div class="label"><label for="options">Type</label></div>
                  <div class="edit-input">
                    <% if(option == ">"){ %>
                      <div>
                        <input type="radio" name="option" value=">" checked />
                        <i class="fas fa-greater-than radio-labels"></i>
                      </div>
                     <% } else {
                    %>
                    <div>
                      <input type="radio" name="option" value=">" />
                      <i class="fas fa-greater-than radio-labels"></i>
                    </div>
                    <% } %> <%
                    if(option == "="){ %>
                      <div class="">
                        <input type="radio" name="option" value="=" checked />
                        <i class="fas fa-equals radio-labels"></i>
                      </div>
                     <% } else { %>
                       <div>
                         <input type="radio" name="option" value="=" />
                         <i class="fas fa-equals radio-labels"></i>
                       </div>
                    <% } %> <%
                    if(option == "<"){ %>
                      <div>
                        <input type="radio" name="option" value="<" checked />
                        <i class="fas fa-less-than radio-labels"></i>
                      </div>
                     <% } else { %>
                       <div>
                         <input type="radio" name="option" value="<" />
                         <i class="fas fa-less-than radio-labels"></i>
                       </div>
                    <% } %>
                  </div>
                </div>
                <div class="value-input">
                  <div class="label"><label for="value">Value</label></div>
                  <!-- <input
                    type="text"
                    id="value"
                    name="value"
                    value="<%- value %>"
                  /> -->
                  <input
                    type="text"
                    class="form-control"
                    id="value"
                    placeholder="Value"
                    name="value"
                    autocomplete="off"
                    value="<%- value %>"
                  />
                </div>
                <div class="button-container">
                  <div class="button">
                    <button
                      type="submit"
                      class="btn btn-success custom-button"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

  </body>
</html>
