<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<style>
    .trigger-div{
        display: flex;
    }
</style>
<body class="container">

    <header>
    <%- include('../partials/header'); %>
    </header>

    <main>
        <div>
            <div>
                <form action="/triggers" method="POST">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                    <br>
                    <label for="options">Type</label>
                    <input type="radio" name='option' value=">" checked> > 
                    <input type="radio" name='option' value="=" checked> = 
                    <input type="radio" name='option' value="<" checked> <
                    <br>
                    <label for="value">Value</label>
                    <input type="text" id="value" name="value">
                    <br>
                    <button type="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
            </div>
            
            <div>
                <h3>Current Triggers</h3>
                <ul>    
                    <% for(trigger of triggers){ %>
                        <div class="trigger-div">
                            <li>
                                <%= trigger.trigger_name %>
                                <%= trigger.trigger_option %>
                                <%= trigger.trigger_value %>
                            </li>
                                <form method="POST" action="/triggers/<%- trigger.id %>?_method=DELETE">
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit">
                                        <a><i class="fa fa-close"></i></a>
                                    </button> 
                                </form>
                               <button><a href="/edit?id=<%- trigger.id %>&name=<%- trigger.trigger_name %>&option=<%- trigger.trigger_option %>&value=<%- trigger.trigger_value %>"><i class="fa fa-pencil"></i></a></button>
                        </div>
                    <% }; %>
                </ul>
            </div>
            
        </div>
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

</body>
</html>