<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script
      src="https://kit.fontawesome.com/abd67d4b78.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="main-body">
      <%- include('../partials/header'); %>
      <div class="input-portion">
        <form action="/triggers" method="POST" class="form">
          <div class="form-body">
            <div class="name-input">
              <div class="label"><label for="name">Trigger Stock Name</label></div>
                <select id="name" name="name">
                  <option value="NSE:REL">NSE:REL</option>
                  <option value="NSE:AXS">NSE:AXS</option>
                  <option value="NSE:HDF">NSE:HDF</option>
                  <option value="NSE:KTK">NSE:KTK</option>
                  <option value="NSE:ZEE">NSE:ZEE</option>
                </select> 
            </div>
            <div class="type-input">
              <div class="label"><label for="option">Trigger Type</label></div>
                <select id="option" name="option">
                  <option value=">">></option>
                  <option value="=">=</option>
                  <option value="<"><</option>
                </select> 
            </div>
            <div class="value-input">
              <div class="label"><label for="value">Value</label></div>
              <input
                type="text"
                class="form-control"
                id="value"
                placeholder="Value"
                name="value"
                autocomplete="off"
                required
              />
            </div>
            <div class="button-container">
              <div class="button">
                <button
                  type="submit"
                  class="btn btn-success btn-lg custom-button"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="display-portion">
        <div class="trigger-main-body">
          <div class="label current-trigger-label">Current Triggers</div>
          <ul>
            <% for(trigger of triggers){ %>
            <div class="list-body">
              <div class="list-items">
                <p>
                  <%= trigger.trigger_name %> <%= trigger.trigger_option %> <%=
                  trigger.trigger_value %>
                </p>
              </div>
              <div class="edit-button-container">
                <form
                  method="POST"
                  action="/triggers/<%- trigger.id %>?_method=DELETE"
                >
                  <input type="hidden" name="_method" value="delete" />
                  <button type="submit" class="edit-buttons">
                    <a><i class="fas fa-trash"></i></a>
                  </button>
                </form>
              </div>
              <div>
                <button class="edit-buttons">
                  <a
                    href="/edit?id=<%- trigger.id %>&name=<%- trigger.trigger_name %>&option=<%- trigger.trigger_option %>&value=<%- trigger.trigger_value %>"
                    ><i class="fas fa-edit"></i
                  ></a>
                </button>
              </div>
            </div>
            <% }; %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
